// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$gigablue: #4b85a3;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gigagreen: #a2c93b;
$gray: #0E0000;
$light-gray: #F4F4F4;
