<div class="footer text-center ">
  <h3 class="mt-4">Allysson Luan Brum Comin</h3>
  <div class="d-flex justify-content-center">
    <%= link_to "https://www.linkedin.com/in/allyssoncomin/" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <%= link_to "https://www.shorturl.at/itCFH" do %>
      <i class="fab fa-whatsapp ms-3"></i>
    <% end %>
    <%= link_to "mailto:allysson_luan@hotmail.com" do %>
      <i class="far fa-envelope ms-3"></i>
    <% end %>
    <%= link_to "https://github.com/AllyssonComin" do %>
      <i class="fab fa-github ms-3"></i>
    <% end %>
  </div>
</div>
